In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("bolly.csv")
df.head()

,Unnamed: 0,movie_id,movie_name,year,genre,overview,director,cast
0,0,tt15354916,Jawan,2023,"Action, Thriller",A high-octane action thriller which outlines t...,Atlee,"Shah Rukh Khan, Nayanthara, Vijay Sethupathi, ..."
1,1,tt15748830,Jaane Jaan,2023,"Crime, Drama, Mystery",A single mother and her daughter who commit a ...,Sujoy Ghosh,"Kareena Kapoor, Jaideep Ahlawat, Vijay Varma, ..."
2,2,tt11663228,Jailer,2023,"Action, Comedy, Crime",A retired jailer goes on a manhunt to find his...,Nelson Dilipkumar,"Rajinikanth, Mohanlal, Shivarajkumar, Jackie S..."
3,3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"Comedy, Drama, Family",Flamboyant Punjabi Rocky and intellectual Beng...,Karan Johar,"Ranveer Singh, Alia Bhatt, Dharmendra, Shabana..."
4,4,tt15732324,OMG 2,2023,"Comedy, Drama",An unhappy civilian asks the court to mandate ...,Amit Rai,"Pankaj Tripathi, Akshay Kumar, Yami Gautam, Pa..."

In [3]:
df.shape

(2199, 8)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2199 entries, 0 to 2198
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2199 non-null   int64
 1   movie_id    2199 non-null   object
 2   movie_name  2199 non-null   object
 3   year        2160 non-null   object
 4   genre       2199 non-null   object
 5   overview    2199 non-null   object
 6   director    2199 non-null   object
 7   cast        2199 non-null   object
dtypes: int64(1), object(7)
memory usage: 137.6+ KB

In [5]:
df['year'].unique()

array(['2023', '2016', '2009', '2012', '2001', '2007', '2018', '2022',
       '1982', '2014', '2010', '2017', '2015', '2024', '2004', '2011',
       '1998', '2006', '2002', '2019', '2013', '2003', '2021', '1999',
       '1995', '2008', '2020', '2000', '1975', nan, '1993', '1994',
       '2025', '2005', '1997', '1967', '1992', '1991', '1965', '1988',
       '1970', '1957', '1956', '1990', '1983', '1996', '1987', '1959',
       'X2020', '1981', '1978', '1989', '1972', '1960', '1953', '1973',
       '1966', '1955', '1984', '1964', '1962', '1977', '1971', '1985',
       '1980', '2026', '1976', '1958', '1986', '1974', '1932', '1969',
       '1979', '1961', '1968', '1951', '1954', 'XXX', 'XXV', '1963'],
      dtype=object)

In [6]:
df['director'].unique()

array(['Atlee', 'Sujoy Ghosh', 'Nelson Dilipkumar', ..., 'Bunty Soorma',
       'Shankar Mukherjee', "Stanley D'Costa"], dtype=object)

In [7]:
invalid_year_movies = df[~df['year'].astype(str).str.fullmatch(r'\d{4}')]
invalid_year_movies.shape

(42, 8)

In [8]:

pd.set_option('display.max_rows', None)
invalid_year_movies.head(74)

,Unnamed: 0,movie_id,movie_name,year,genre,overview,director,cast
222,222,tt8816184,Takht,NaN,"Action, Drama, History",Vicky Kaushal plays Aurangzeb and Ranveer play...,Karan Johar,"Kareena Kapoor, Alia Bhatt, Ranveer Singh, Ani..."
298,298,tt2067010,The Raid,NaN,"Action, Crime, Thriller",An international fugitive and his thugs trap a...,Rohit Shetty,"Ranveer Singh, Sara Ali Khan, Sonu Sood, Ashut..."
408,408,tt26768638,Hera Pheri 3,NaN,,In the highly anticipated third installment of...,Farhad Samji,"Akshay Kumar, Paresh Rawal, Suniel Shetty, San..."
431,431,tt6475412,Krrish 4,NaN,"Action, Sci-Fi, Thriller","Years after defeating Kaal, When an ancient ar...",Karan Malhotra,"Hrithik Roshan, Preity G Zinta, Naseeruddin Sh..."
446,446,tt15204306,Jee Le Zaraa,NaN,Drama,Revolving around a road-trip taken by the thre...,Farhan Akhtar,"Priyanka Chopra Jonas, Alia Bhatt, Katrina Kai..."
571,571,tt28290264,Untitled Aamir khan/Rajkumar Hirani movie,NaN,Biography,Add a Plot,Rajkumar Hirani,Aamir Khan
596,596,tt23875550,UI,NaN,,Add a Plot,Upendra,"Sunny Leone, Upendra, Murli Sharma, P. Ravi Sh..."
615,615,tt11095208,Beautiful,X2020,Drama,"Beautiful is about ""Can a man take it , if his...",Agasthya Manju,"Raknil Avro, K K Binojee, Erixnil, Naina Ganguly"
792,792,tt22191704,Gandharva jr.,NaN,"Drama, Fantasy",The untold story of Gandharva warriors who fou...,Vishnu Aravind,Unni Mukundan
972,972,tt11112760,Crack,NaN,Drama,Add a Plot,Neeraj Pandey,"Akshay Kumar, Pradum Shukla, Pradum Jaykar, Vi..."
1036,1036,tt6203702,Baaghi 4,NaN,"Action, Drama, Thriller",Fourth installment of Baaghi film series.,"Jahid D'cruz, Ahmed Khan","Tiger Shroff, Jimmy Shergill, Sunny Hinduja, J..."
1075,1075,tt11773426,VD 12,NaN,"Action, Drama",Add a Plot,Gowtam Tinnanuri,"Vijay Deverakonda, Rashmika Mandanna, Keshav D..."
1098,1098,tt28089784,Punjab '95,NaN,"Biography, Crime, Drama",Based on the life of prominent human rights ac...,Honey Trehan,"Arjun Rampal, Suvinder Vicky, Diljit Dosanjh, ..."
1128,1128,tt27613132,Awara Pagal Deewana 2,NaN,,"After faking his death, former killer-for-hire...",Ahmed Khan,"Akshay Kumar, Sanjay Dutt, Disha Patani, Dalip..."
1132,1132,tt23220368,Vedaat Maratha Veer Daudale Saat,NaN,History,Seven valiant warriors who had the sole aim of...,Mahesh Manjrekar,"Akshay Kumar, Pravin Tarde, Satya Manjrekar, U..."
1147,1147,tt24245466,Ruslaan,NaN,"Action, Thriller",Plot under wraps.,Katyayan Shivpuri,"Jagapathi Babu, Aayush Sharma, Vidya Malvade, ..."
1174,1174,tt26659814,Auron Mein Kahan DumTha,NaN,"Drama, Romance",Showcases a love story that unfolds from 2002 ...,Neeraj Pandey,"Ajay Devgn, Tabu, Jimmy Shergill, Shantanu Mah..."
1221,1221,tt21074588,Baap,NaN,Action,Add a Plot,Vivek Chauhan,"Lankesh Bhardwaj, Sanjay Dutt, Sunny Deol, Jac..."
1272,1272,tt28222781,Untitled SRK-Suhana-Marflix movie,NaN,Action,A Father-Daughter action thriller that delves ...,Sujoy Ghosh,"Amitabh Bachchan, Vidya Balan, Riteish Deshmuk..."
1294,1294,tt4501268,Maharaj,NaN,"Biography, Crime, Drama",Storyline is being kept under wraps.,Malhotra P. Siddharth,"Jaideep Ahlawat, Sharvari Wagh, Shalini Pandey..."
1394,1395,tt19838634,Ulajh,NaN,Thriller,"The journey of a young IFS officer, belonging ...",Sudhanshu Saria,"Janhvi Kapoor, Gulshan Devaiah, Rajesh Tailang..."
1528,1529,tt8205190,Gandhi Talks,NaN,Comedy,Gandhi Talks is a Silent Feature Film.,Kishor Pandurang Belekar,"Vijay Sethupathi, Aditi Rao Hydari, Mahesh Man..."
1604,1605,tt27918452,Swayambhu,NaN,"Adventure, Drama, Fantasy",Follows the story of an emperor who establishe...,"Aadhitya Bahudhanam, Bharat Krishnamachari","Samyuktha Menon, Nikhil Siddharth"
1650,1651,tt15944190,Soorya,NaN,"Crime, Drama, Thriller",A retired police officer with adept investigat...,M. Padmakumar,"Sunny Deol, Ravi Kishan, Tanushree Chakraborty..."
1658,1659,tt11804356,Tsunami,NaN,"Drama, Thriller",23 million people should be evacuated in 2 hours.,Madhu Sudhanan,Spencer Patwal
1683,1684,tt11069946,The Immortal Ashwatthama,NaN,"Action, Adventure, Fantasy",Follows Ashwatthama's journey as he seeks rede...,Aditya Dhar,"Allu Arjun, Vicky Kaushal, Sara Ali Khan"
1716,1717,tt22769958,Udd Jaa Nanhe Dil,NaN,Family,The principal of a high profile school comes a...,Swaroop Raj Medara,"Gaurav Kamble, Suniel Shetty, Surendra Pal, Ra..."
1738,1739,tt28229250,ANOLB,NaN,Sci-Fi,Add a Plot,Shubham Mahadev,Ravish Rajora
1763,1764,tt28134270,Monster,XXX,Thriller,Add a Plot,Keshhav Panneriy,"Amarjeet Singh, Hannah Panneriy"
1780,1781,tt12403994,Aashiqui 3,NaN,"Drama, Music, Romance",Plot unknown.,Anurag Basu,Kartik Aaryan
1801,1802,tt15654502,The Ladykiller,NaN,,When a small-town playboy falls in love for a ...,Ajay Bahl,"Bhumi Pednekar, Arjun Kapoor, Backagaindancer,..."
1833,1834,tt25434258,Apurva,NaN,"Drama, Thriller","Apurva, a brilliant and enigmatic detective, i...",Nikhil Nagesh Bhat,"Tara Sutaria, Abhishek Banerjee, Rajpal Nauran..."
1853,1854,tt22023260,100%,NaN,Comedy,Add a Plot,Sajid Khan,"Shehnaaz Gill, Nora Fatehi, Riteish Deshmukh, ..."
1890,1891,tt27440937,Weapon,NaN,"Action, Sci-Fi, Thriller",Add a Plot,Guhan Senniappan,"Vasanth Ravi, Shiyas Kareem, Sathyaraj, Tanya ..."
2024,2025,tt26258902,Quotation Gang,NaN,"Crime, Thriller",The film revolves around a bold female contrac...,Vivek,"Priyamani, Sunny Leone, Jackie Shroff, V. Jaya..."
2059,2060,tt27477888,The Test,XXV,Sport,Add a Plot,S. Sashikanth,"Nayanthara, Madhavan, Siddharth, Meera Jasmine"
2063,2064,tt27853611,MAX,NaN,,Add a Plot,Vijay Karthikeyan,"Sudeep, Samyuktha Hornadu, Anirudh Bhat, Sukru..."
2111,2112,tt28508934,Kaantha,NaN,,Plot under wraps.,Selvamani Selvaraj,Dulquer Salmaan
2168,2169,tt3779396,Go Goa Gone 2,NaN,"Action, Adventure, Comedy",Sequel of the 2013 'zom-com' film Go Goa Gone.,"Krishna D.K., Raj Nidimoru","Saif Ali Khan, Radhika Madan, Abhishek Banerje..."
2171,2172,tt9598520,Golmaal 5,NaN,"Adventure, Comedy, Mystery","A group of childhood friends, gets caught in a...",Rohit Shetty,"Ajay Devgn, Arshad Warsi, Kunal Kemmu, Shreyas..."
2176,2177,tt13971952,Untitled Ranveer Singh & Shankar Film,NaN,,Add a Plot,S. Shankar,Ranveer Singh
2194,2195,tt11112474,Heeriye,NaN,Thriller,Add a Plot,Subhash Ghai,"Shatrughan Sinha, Reena Roy, Ajit Khan, Premna..."

In [9]:
df = df.drop(invalid_year_movies.index)

In [10]:
df.isnull().sum()

Unnamed: 0    0
movie_id      0
movie_name    0
year          0
genre         0
overview      0
director      0
cast          0
dtype: int64

In [11]:
df[df['overview']=='Add a Plot'].shape

(59, 8)

In [12]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [13]:
df.head(1)

,movie_id,movie_name,year,genre,overview,director,cast
0,tt15354916,Jawan,2023,"Action, Thriller",A high-octane action thriller which outlines t...,Atlee,"Shah Rukh Khan, Nayanthara, Vijay Sethupathi, ..."

In [14]:
df.duplicated().sum()

np.int64(0)

In [15]:
def convert(obj):
    return [g.strip() for g in obj.split(',')]

In [16]:
df.iloc[0].genre

'Action, Thriller'

In [17]:
convert('Action, Thriller')

['Action', 'Thriller']

In [18]:
df['genre'] = df['genre'].apply(convert)

In [19]:
df.iloc[0].cast

'Shah Rukh Khan, Nayanthara, Vijay Sethupathi, Deepika Padukone'

In [20]:
df.rename(columns={
    'cast': 'actors',
    
}, inplace=True)

In [21]:
df.head(1)

,movie_id,movie_name,year,genre,overview,director,actors
0,tt15354916,Jawan,2023,"[Action, Thriller]",A high-octane action thriller which outlines t...,Atlee,"Shah Rukh Khan, Nayanthara, Vijay Sethupathi, ..."

In [22]:
df['overview'][0]

'A high-octane action thriller which outlines the emotional journey of a man who is set to rectify the wrongs in the society.'

In [23]:
df['overview'] = df['overview'].apply(lambda x : x.split())

In [24]:
df.head()

,movie_id,movie_name,year,genre,overview,director,actors
0,tt15354916,Jawan,2023,"[Action, Thriller]","[A, high-octane, action, thriller, which, outl...",Atlee,"Shah Rukh Khan, Nayanthara, Vijay Sethupathi, ..."
1,tt15748830,Jaane Jaan,2023,"[Crime, Drama, Mystery]","[A, single, mother, and, her, daughter, who, c...",Sujoy Ghosh,"Kareena Kapoor, Jaideep Ahlawat, Vijay Varma, ..."
2,tt11663228,Jailer,2023,"[Action, Comedy, Crime]","[A, retired, jailer, goes, on, a, manhunt, to,...",Nelson Dilipkumar,"Rajinikanth, Mohanlal, Shivarajkumar, Jackie S..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"[Comedy, Drama, Family]","[Flamboyant, Punjabi, Rocky, and, intellectual...",Karan Johar,"Ranveer Singh, Alia Bhatt, Dharmendra, Shabana..."
4,tt15732324,OMG 2,2023,"[Comedy, Drama]","[An, unhappy, civilian, asks, the, court, to, ...",Amit Rai,"Pankaj Tripathi, Akshay Kumar, Yami Gautam, Pa..."

In [25]:
def clean_list(x):
    if isinstance(x, str):
        return [i.strip() for i in x.split(',')]
    elif isinstance(x, list):
        return x
    else:
        return []

In [26]:
df['genre'] = df['genre'].apply(clean_list)
df['actors'] = df['actors'].apply(clean_list)
df['director'] = df['director'].apply(clean_list)

In [27]:
df.head()

,movie_id,movie_name,year,genre,overview,director,actors
0,tt15354916,Jawan,2023,"[Action, Thriller]","[A, high-octane, action, thriller, which, outl...",[Atlee],"[Shah Rukh Khan, Nayanthara, Vijay Sethupathi,..."
1,tt15748830,Jaane Jaan,2023,"[Crime, Drama, Mystery]","[A, single, mother, and, her, daughter, who, c...",[Sujoy Ghosh],"[Kareena Kapoor, Jaideep Ahlawat, Vijay Varma,..."
2,tt11663228,Jailer,2023,"[Action, Comedy, Crime]","[A, retired, jailer, goes, on, a, manhunt, to,...",[Nelson Dilipkumar],"[Rajinikanth, Mohanlal, Shivarajkumar, Jackie ..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"[Comedy, Drama, Family]","[Flamboyant, Punjabi, Rocky, and, intellectual...",[Karan Johar],"[Ranveer Singh, Alia Bhatt, Dharmendra, Shaban..."
4,tt15732324,OMG 2,2023,"[Comedy, Drama]","[An, unhappy, civilian, asks, the, court, to, ...",[Amit Rai],"[Pankaj Tripathi, Akshay Kumar, Yami Gautam, P..."

In [28]:
df['director'] = df['director'].apply(
    lambda x: [name.replace(" ", "") for name in x]
)

df['actors'] = df['actors'].apply(
    lambda x: [name.replace(" ", "") for name in x]
)

In [29]:
df.head()

,movie_id,movie_name,year,genre,overview,director,actors
0,tt15354916,Jawan,2023,"[Action, Thriller]","[A, high-octane, action, thriller, which, outl...",[Atlee],"[ShahRukhKhan, Nayanthara, VijaySethupathi, De..."
1,tt15748830,Jaane Jaan,2023,"[Crime, Drama, Mystery]","[A, single, mother, and, her, daughter, who, c...",[SujoyGhosh],"[KareenaKapoor, JaideepAhlawat, VijayVarma, Sa..."
2,tt11663228,Jailer,2023,"[Action, Comedy, Crime]","[A, retired, jailer, goes, on, a, manhunt, to,...",[NelsonDilipkumar],"[Rajinikanth, Mohanlal, Shivarajkumar, JackieS..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"[Comedy, Drama, Family]","[Flamboyant, Punjabi, Rocky, and, intellectual...",[KaranJohar],"[RanveerSingh, AliaBhatt, Dharmendra, ShabanaA..."
4,tt15732324,OMG 2,2023,"[Comedy, Drama]","[An, unhappy, civilian, asks, the, court, to, ...",[AmitRai],"[PankajTripathi, AkshayKumar, YamiGautam, Pawa..."

In [30]:
df['tags'] = df['overview'] + df['genre'] + df['director'] + df['actors']

In [31]:
df.head()

,movie_id,movie_name,year,genre,overview,director,actors,tags
0,tt15354916,Jawan,2023,"[Action, Thriller]","[A, high-octane, action, thriller, which, outl...",[Atlee],"[ShahRukhKhan, Nayanthara, VijaySethupathi, De...","[A, high-octane, action, thriller, which, outl..."
1,tt15748830,Jaane Jaan,2023,"[Crime, Drama, Mystery]","[A, single, mother, and, her, daughter, who, c...",[SujoyGhosh],"[KareenaKapoor, JaideepAhlawat, VijayVarma, Sa...","[A, single, mother, and, her, daughter, who, c..."
2,tt11663228,Jailer,2023,"[Action, Comedy, Crime]","[A, retired, jailer, goes, on, a, manhunt, to,...",[NelsonDilipkumar],"[Rajinikanth, Mohanlal, Shivarajkumar, JackieS...","[A, retired, jailer, goes, on, a, manhunt, to,..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"[Comedy, Drama, Family]","[Flamboyant, Punjabi, Rocky, and, intellectual...",[KaranJohar],"[RanveerSingh, AliaBhatt, Dharmendra, ShabanaA...","[Flamboyant, Punjabi, Rocky, and, intellectual..."
4,tt15732324,OMG 2,2023,"[Comedy, Drama]","[An, unhappy, civilian, asks, the, court, to, ...",[AmitRai],"[PankajTripathi, AkshayKumar, YamiGautam, Pawa...","[An, unhappy, civilian, asks, the, court, to, ..."

In [61]:
df[df['movie_name']=='Tumbbad']

,movie_id,movie_name,year,genre,overview,director,actors,tags
23,tt8239946,Tumbbad,2018,"[Drama, Fantasy, Horror]","[A, mythological, story, about, a, goddess, wh...","[RahiAnilBarve, AnandGandhi, AdeshPrasad]","[SohumShah, JyotiMalshe, AnitaDate-Kelkar, Ron...","[A, mythological, story, about, a, goddess, wh..."

In [32]:
new_df = df[['movie_id', 'movie_name', 'tags']]

In [33]:
print( new_df['tags'][0])

['A', 'high-octane', 'action', 'thriller', 'which', 'outlines', 'the', 'emotional', 'journey', 'of', 'a', 'man', 'who', 'is', 'set', 'to', 'rectify', 'the', 'wrongs', 'in', 'the', 'society.', 'Action', 'Thriller', 'Atlee', 'ShahRukhKhan', 'Nayanthara', 'VijaySethupathi', 'DeepikaPadukone']

In [34]:
new_df['tags'].apply(lambda x: " ".join(x))[0]

'A high-octane action thriller which outlines the emotional journey of a man who is set to rectify the wrongs in the society. Action Thriller Atlee ShahRukhKhan Nayanthara VijaySethupathi DeepikaPadukone'

In [35]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\Vinayak\AppData\Local\Temp\ipykernel_5752\1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [36]:
new_df.head()

,movie_id,movie_name,tags
0,tt15354916,Jawan,A high-octane action thriller which outlines t...
1,tt15748830,Jaane Jaan,A single mother and her daughter who commit a ...
2,tt11663228,Jailer,A retired jailer goes on a manhunt to find his...
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,Flamboyant Punjabi Rocky and intellectual Beng...
4,tt15732324,OMG 2,An unhappy civilian asks the court to mandate ...

In [37]:
from sklearn.feature_extraction.text import CountVectorizer
import nltk

In [38]:
cv = CountVectorizer(stop_words='english', max_features=5000)

In [39]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [40]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [41]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [42]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\Vinayak\AppData\Local\Temp\ipykernel_5752\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [43]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [44]:
len(cv.get_feature_names_out())

5000

In [45]:
from sklearn.metrics.pairwise import cosine_similarity

In [46]:
similarity = cosine_similarity(vectors)

In [47]:
def recommend(movie):
    movie_index = new_df[new_df['movie_name'] == movie].index[0]
    distances = similarity[movie_index]

    movies_list = sorted(
        [(i, float(score)) for i, score in enumerate(distances)],
        reverse=True,
        key=lambda x: x[1]
    )[1:31]

    return [new_df.iloc[i[0]].movie_name for i in movies_list]

In [59]:
recommend('#Mute')

['Neymar',
 'Kasethan Kadavulada',
 'Footpath',
 'Babumoshai Bandookbaaz',
 'Kucch To Hai',
 'Bluffmaster!',
 '13B: Fear Has a New Address',
 'Ram-Avtar',
 '1920',
 'Gehrayee',
 'Yaarana',
 'Dacait',
 'Jaani Dushman: Ek Anokhi Kahani',
 'Chhota Bheem and the Curse of Damyaan',
 'DJ Tillu',
 'Sulaikha Manzil',
 'Kanjoos Makhichoos',
 'Parinda',
 'Karz',
 'Darna Mana Hai',
 'All Is Well',
 'Govinda Naam Mera',
 'Super',
 'Pitaah',
 'Khichdi: The Movie',
 'Shiva',
 'Andhera',
 'Kyo Kii... Main Jhuth Nahin Bolta',
 'Fever',
 'Sanam Teri Kasam']

In [49]:
import pickle

In [50]:
df.head()

,movie_id,movie_name,year,genre,overview,director,actors,tags
0,tt15354916,Jawan,2023,"[Action, Thriller]","[A, high-octane, action, thriller, which, outl...",[Atlee],"[ShahRukhKhan, Nayanthara, VijaySethupathi, De...","[A, high-octane, action, thriller, which, outl..."
1,tt15748830,Jaane Jaan,2023,"[Crime, Drama, Mystery]","[A, single, mother, and, her, daughter, who, c...",[SujoyGhosh],"[KareenaKapoor, JaideepAhlawat, VijayVarma, Sa...","[A, single, mother, and, her, daughter, who, c..."
2,tt11663228,Jailer,2023,"[Action, Comedy, Crime]","[A, retired, jailer, goes, on, a, manhunt, to,...",[NelsonDilipkumar],"[Rajinikanth, Mohanlal, Shivarajkumar, JackieS...","[A, retired, jailer, goes, on, a, manhunt, to,..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"[Comedy, Drama, Family]","[Flamboyant, Punjabi, Rocky, and, intellectual...",[KaranJohar],"[RanveerSingh, AliaBhatt, Dharmendra, ShabanaA...","[Flamboyant, Punjabi, Rocky, and, intellectual..."
4,tt15732324,OMG 2,2023,"[Comedy, Drama]","[An, unhappy, civilian, asks, the, court, to, ...",[AmitRai],"[PankajTripathi, AkshayKumar, YamiGautam, Pawa...","[An, unhappy, civilian, asks, the, court, to, ..."

In [51]:
def search_actors(actor_name, top_n=30):
    result = df[df['actors'].apply(
        lambda x: actor_name.lower() in ' '.join(x).lower()
    )]
    result = result.sort_values(by='year', ascending=False)
    return result[['movie_name', 'year', 'actors']].head(top_n)

In [52]:
def search_director(director_name, top_n=30):
    result = df[df['director'].apply(
        lambda x: director_name.lower() in ' '.join(x).lower()
    )]
    result = result.sort_values(by='year', ascending=False)
    return result[['movie_name', 'year', 'director']].head(top_n)

In [53]:
def search_genre(genre_name, top_n=30):
    result = df[df['genre'].apply(
        lambda x: genre_name.lower() in ' '.join(x).lower()
    )]
    result = result.sort_values(by='year', ascending=False)
    return result[['movie_name', 'year', 'genre']].head(top_n)

In [54]:
def search_genre(genre_name, top_n=30):
    result = df[df['genre'].apply(
        lambda x: genre_name.lower() in ' '.join(x).lower()
    )]
    return result[['movie_name', 'genre']].head(top_n)

In [55]:
def search_year(year):
    return df[df['year'] == year][['movie_name', 'year']]

In [56]:
pickle.dump(df,open('bollywood.pkl','wb'))
pickle.dump(similarity,open('similarity_bly.pkl','wb'))